#mdezazulhassanbiswas.github.io
#mdezazulhassanbiswas.infinityfreeapp.com

RewriteEngine On
RewriteCond %{HTTP_HOST} ^mdezazulhassanbiswas.github.io$ [OR]
RewriteCond %{HTTP_HOST} ^https://mdezazulhassanbiswas.github.io/$
RewriteRule (.*)$ mdezazulhassanbiswas.infinityfreeapp.com/$1 [R=301, L]


Redirect mdezazulhassanbiswas.github.io mdezazulhassanbiswas.infinityfreeapp.com
#Redirect /path/to/old/file/old.html https://www.example.com/new/file/new.html
