#mdezazulhassanbiswas.github.io
#mdezazulhassanbiswas.infinityfreeapp.com

RewriteEngine On
RewriteCond %{HTTP_HOST} ^mdezazulhassanbiswas.github.io$ [OR]
RewriteCond %{HTTP_HOST} ^www.mdezazulhassanbiswas.github.io$
RewriteRule (.*)$ mdezazulhassanbiswas.infinityfreeapp.com/$1 [R=301, L]


Redirect index.html mdezazulhassanbiswas.infinityfreeapp.com
